<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true" 
      internalLogLevel="Trace" 
      internalLogFile="/Users/it/_webapi_net_playgorund/BookStore/log_BookStore/BookStoreInternallog.txt">
    <targets>
        <target name="logfile" xsi:type="File" 
                fileName="/Users/it/_webapi_net_playgorund/BookStore/log_BookStore/${shortdate}_logfile_BookStore.txt" 
                layout="${longdate} | ${level:uppercase=true} | ${message}"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile"/>
    </rules>
</nlog>